In [2]:
import pandas as pd
import time

from source_prepare import txt_to_dict, dict_to_df, get_question_index
from question_answer import ask_question, ans_process

In [3]:
data = txt_to_dict('test_01.txt')

In [4]:
df = dict_to_df(data)

In [5]:
df.sample()

,question,choices,correct,statistics,times_answered,times_correct_answered
168,168. შემოხაზეთ სწორი პასუხი:\n..... არის ლიფტი?,"[1.სად?, 2.რას?, 3.როდის?, 4.ვინ?]",1,0,0,0

In [32]:
df.loc[106]

question                  106. ნინო უფრო მაღალია, ვიდრე ნანა.\nშემოხაზეთ...
choices                   [1.ნინო ნანაზე მაღალია;, 2.ნანა მაღალია, ნინო ...
correct                                                                   1
statistics                                                                0
times_answered                                                            0
times_correct_answered                                                    0
Name: 106, dtype: object

In [117]:
for i, ch in enumerate(df.ix[101]['choices'].iloc[0]):
    markup_values[ch] = {'callback_data': i + 1}

AttributeError: 'DataFrame' object has no attribute 'ix'

In [120]:
pd.Index([101])

Int64Index([101], dtype='int64')

In [127]:
df.loc[index, 'choices'].iloc[0][0]

'1.საფულე დევს ჩანთასავით;'

In [114]:
df.choices.apply(lambda x: len(max(x, key=len))).sort_values(ascending=False)

101    79
171    47
108    46
196    43
150    41
       ..
154     7
43      7
87      6
173     6
172     6
Name: choices, Length: 209, dtype: int64

In [39]:
index = get_question_index(df)

In [108]:
index

Int64Index([6], dtype='int64')

In [106]:
df.iloc[208,0:]

question                  209. შემოხაზეთ სწორი პასუხი:\nდღეს ვიყიდე ერთი...
choices                               [1.ცალი;, 2.ქილა;, 3.წონა;, 4.ჩანთა.]
correct                                                                   2
statistics                                                                0
times_answered                                                            0
times_correct_answered                                                    0
Name: 209, dtype: object

In [92]:
df.loc[index]

,question,choices,correct,statistics,times_answered,times_correct_answered
84,84. შემოხაზეთ სწორი პასუხი:\nეს ოთახი არის ნან...,"[1.დედამისი;, 2.დედაჩემის;, 3.დედამისის;, 4.დე...",3,0.0,0,0

In [96]:
result = ask_question(df, index)
ans_process(df, index, result)

84. შემოხაზეთ სწორი პასუხი:
ეს ოთახი არის ნანას დედის.
1.დედამისი;
2.დედაჩემის;
3.დედამისის;
4.დედათქვენის.
GOOD! correct_answer

In [97]:
df.loc[index]

,question,choices,correct,statistics,times_answered,times_correct_answered
84,84. შემოხაზეთ სწორი პასუხი:\nეს ოთახი არის ნან...,"[1.დედამისი;, 2.დედაჩემის;, 3.დედამისის;, 4.დე...",3,1.0,2,2

In [58]:
df.to_parquet('db_backup.parquet')

In [11]:
df = pd.read_parquet('db.parquet')

In [9]:
df.to_parquet('db.parquet')

In [21]:
a= 1536

In [29]:
def sef():
    a=a+2

In [30]:
sef(a)

In [31]:
a

1536

In [33]:
import sqlite3

In [35]:
conn = sqlite3.connect('sq3_db.sql')
cur = conn.cursor()

d_check = pd.read_sql_query('SELECT *'
            'FROM users', conn)
'''cur.execute('SELECT *'
            'FROM users')'''
conn.commit()
cur.close()
conn.close()

In [36]:
d_check

Empty DataFrame
Columns: [id, name, pass]
Index: []

In [43]:
df.loc[index, "times_correct_answered"].iloc[0]

0

In [41]:
df.head()

,question,choices,correct,statistics,times_answered,times_correct_answered
1,1. შემოხაზეთ სწორი პასუხი:,"[1.მე ცუდად ვსაუბრობ ქართული;, 2.მე ცუდად ვსაუ...",3,0,0,0
2,2. შემოხაზეთ სწორი პასუხი:,"[1.მე ვხატავ სურათს;, 2.მე ვხატავ სურათმ;, 3.მ...",1,0,0,0
3,3. შემოხაზეთ სწორი პასუხი:,"[1.მე დამიძახა ამხანაგს;, 2.მე დამიძახა ამხანა...",2,0,0,0
4,4. შემოხაზეთ სწორი პასუხი:,"[1.შენ ხარ ექიმმა;, 2.შენ ხარ ექიმით;, 3.შენ ხ...",3,0,0,0
5,5. შემოხაზეთ სწორი პასუხი:,"[1.თქვენ უყურებთ ფეხბურთმა;, 2.თქვენ უყურებთ ფ...",2,0,0,0