In [72]:
import pandas as pd
import time

from source_prepare import txt_to_dict, dict_to_df, get_question_index
from question_answer import ask_question, ans_process

In [64]:
data = txt_to_dict('test_01.txt')

In [65]:
df = dict_to_df(data)

In [91]:
index = get_question_index(df)

In [92]:
df.loc[index]

,question,choices,correct,statistics,times_answered,times_correct_answered
84,84. შემოხაზეთ სწორი პასუხი:\nეს ოთახი არის ნან...,"[1.დედამისი;, 2.დედაჩემის;, 3.დედამისის;, 4.დე...",3,0.0,0,0

In [96]:
result = ask_question(df, index)
ans_process(df, index, result)

84. შემოხაზეთ სწორი პასუხი:
ეს ოთახი არის ნანას დედის.
1.დედამისი;
2.დედაჩემის;
3.დედამისის;
4.დედათქვენის.
GOOD! correct_answer

In [97]:
df.loc[index]

,question,choices,correct,statistics,times_answered,times_correct_answered
84,84. შემოხაზეთ სწორი პასუხი:\nეს ოთახი არის ნან...,"[1.დედამისი;, 2.დედაჩემის;, 3.დედამისის;, 4.დე...",3,1.0,2,2

In [58]:
df.to_parquet('db_backup.parquet')

In [11]:
df = pd.read_parquet('db.parquet')